<tr>
    <td><small><%= l event.datetime, format: :short %></small></td>
    <td><%= link_to event.title, event %></td>
    <td><%= event.users.count %></td>
    <td><% if event.status == true %>
        Продано
        <% else %>
        <% end %></td>
    <td><%= event.event_money %></td>
</tr>

