<div class=container>
    <div class="col-md-4">
    <%= render partial: 'users/user', collection: @users %>
    <h4>Всего пользователей: <%= User.count %></h4>
  </div>
  <div class="col-md-8">
    <%= render partial: 'events/event', collection: @events %>
  </div>
</div>


