<div class=container>
    <div class="col-md-4">
    <%= render partial: 'users/user', collection: @users_sorted_by_money %>
    <h4>Всего пользователей: <%= User.count %></h4>
  </div>
  <div class="col-md-8">
    <%= render partial: 'events/for_tab/flight_types_for_events' %>
  </div>
</div>






